<div class="hero">
  <div class="container lg:mx-auto mx-3">
    <p class="text-[32px] font-extrabold text-left lg:text-[65px] lg:max-w-[545px]">Modern living for everyone</p>
    <p class="text-xl lg:max-w-[545px] mt-[20px]">
      We provide a complete service for the sale, purchase or rental of real
      estate. We have been operating in Madrid and Barcelona for more than 15
      years.
    </p>
  </div>
  <p class="hero-line text-[22px] mt-36 ">We provide a complete service for the sale, purchase or rental of real
    estate. We have been operating </p>
  <br>
</div>
