<div class="bg-[#FAF6F3] p-6 max-w-[541px] mx-3 my-8">
  <div>
    <p class="blockquote">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget leo nunc, nec tempus mi? Curabitur id nisl
      mi, ut vulputate urna. Quisque porta facilisis tortor, vitae bibendum velit fringilla vitae! Lorem ipsum dolor sit
      amet, consectetur adipiscing elit. Mauris eget leo nunc, nec tempus mi? Curabitur id nisl mi, ut vulputate urna.
      Quisque porta facilisis tortor, vitae bibendum velit fringilla vitae!
    </p>
  </div>
  <div>
    <h4 class="text-xl font-bold">This Is name</h4>
    <p>Designation</p>
  </div>
</div>
