.contactbg{
  background: url("../../../assets/images/BG.png") no-repeat center center fixed;
  background-size: cover;
  max-height: 720px;
}
input[type=text] {
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100% !important;
  box-sizing: border-box;
}
input {
  width: 100%;
}


textarea{
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100% !important;
  box-sizing: border-box;
}
