<div class="container mx-auto mx-3">
  <h1 class="text-[#091638] text-[52px] font-bold">Checkout Some of Our Projects</h1>
  <p class="text-[21px]">We provide a complete service for the sale, purchase or rental of real estate. We have been
    operating in Madrid and Barcelona more than 15 years.</p>
  <mat-tab-group color="">
    <mat-tab label="First"></mat-tab>
    <mat-tab label="Second"></mat-tab>
    <mat-tab label="Third"></mat-tab>
    <mat-tab label="Third"></mat-tab>
    <mat-tab label="Third"></mat-tab>
    <mat-tab label="Third"></mat-tab>
    <mat-tab label="Third"></mat-tab>
  </mat-tab-group>

  <div class="flex flex-wrap gap-[35px] mt-6 justify-between ">
    <app-product-card [data]='data'></app-product-card>
    <app-product-card [data]='data'></app-product-card>
    <app-product-card [data]='data'></app-product-card>
    <app-product-card [data]='data'></app-product-card>
    <app-product-card [data]='data'></app-product-card>
  </div>
  <br>

</div>
<app-sub-newsletter></app-sub-newsletter>
<app-footer/>
