<div class="flex flex-wrap justify-between my-[72px] gap-[72px]">
  <img *ngIf="!isRightSide" src="{{data.image}}" class="hidden lg:block max-h-[268px] max-w-[350px]">
  <img src="{{data.image}}" class="max-h-[268px] max-w-[350px] block lg:hidden">
  <div class="max-w-[560px] ">
    <h3 class="text-3xl font-bold">{{data.title}}</h3>
    <p class="py-8">{{data.description}}</p>
    <button>
      <div class="flex text-[#E55700]">
        Read More
        <mat-icon class="text-xl">arrow_right_alt</mat-icon>
      </div>
      
    </button>
  </div>
  <img *ngIf="isRightSide" src="{{data.image}}" class="hidden lg:block max-h-[268px] max-w-[350px]">
</div>
