<nz-drawer
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzMaskClosable]="false"
  [nzWidth]="720"
  [nzVisible]="testimonialService.isVisibleForm()"
  nzTitle="Create"
  [nzKeyboard]="false"
  (nzOnClose)="testimonialService.closeForm()"
>

  <form nz-form *nzDrawerContent [formGroup]="testimonialService.testimonialForm"
        (ngSubmit)="testimonialService.submitTestimonialForm()">
    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Name</nz-form-label>
          <nz-form-control nzErrorTip="Please input name!">
            <nz-form-control>
              <input nz-input formControlName="name" placeholder="name" [ngModel]="testimonialService.editTestimonialData()?.name ?? ''"/>
            </nz-form-control>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Designation</nz-form-label>
          <nz-form-control nzErrorTip="Please input designation!">
            <nz-form-control>
              <input nz-input formControlName="designation" placeholder="designation" [ngModel]="testimonialService.editTestimonialData()?.designation ?? ''"/>
            </nz-form-control>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>Message</nz-form-label>
          <nz-form-control nzErrorTip="Please input message!">
            <nz-form-control>
                 <textarea
                   nz-input
                   formControlName="message"
                   placeholder="message"
                   [ngModel]="testimonialService.editTestimonialData()?.message ?? ''"
                   [nzAutosize]="{ minRows: 4, maxRows: 4 }"
                 ></textarea>
            </nz-form-control>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <nz-form-item>
      <nz-form-label>Image</nz-form-label>
      <nz-form-control nzErrorTip="Please input message!">
        <nz-form-control>
          <nz-upload
            class="avatar-uploader"
            nzAction="http://localhost:3000/file"
            nzName="file"
            nzListType="picture-card"
            [nzShowUploadList]="false"
            [nzBeforeUpload]="testimonialService.beforeUpload"
            (nzChange)="testimonialService.handleChange($event)"
          >
            <ng-container *ngIf="!testimonialService.avatarUrl()">
              <span class="upload-icon" nz-icon [nzType]="testimonialService.loading() ? 'loading' : 'plus'"></span>
            </ng-container>
            <img *ngIf="testimonialService.avatarUrl()" [src]="testimonialService.avatarUrl()" style="width: 100%"/>
          </nz-upload>
        </nz-form-control>
      </nz-form-control>
    </nz-form-item>
    <div style="float: right">
      <button nz-button style="margin-right: 8px;" (click)="testimonialService.closeForm()">Cancel</button>
      <button nz-button nzType="primary"
      >{{testimonialService.editTestimonialData() ? 'Update' : "Create"}}</button>
    </div>
  </form>

</nz-drawer>
