<nz-layout class="min-h-full h-fit w-full">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo">welcome</div>
    <ul nz-menu nzTheme="dark"  nzMode="inline">
      <li nz-menu-item routerLink="testimonial">
        <span nz-icon nzType="file"></span>
        <span>Testimonials</span>
      </li>
      <li nz-menu-item routerLink="showcase">
        <span nz-icon nzType="file"></span>
        <span>Showcase</span>
      </li>
      <li nz-menu-item routerLink="subscribers">
        <span nz-icon nzType="file"></span>
        <span>Subscribers</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
          <span
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            (click)="isCollapsed = !isCollapsed"
          ></span>
    </nz-header>
    <nz-content>
      <br>
      <div class="inner-content"><router-outlet></router-outlet></div>
    </nz-content>
    <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>
