/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Poppins";
  src: url("../src/assets/fonts/Poppins-Regular.ttf") format("woff2");
}

* {
  font-family: "Poppins", sans-serif;
}

mat-icon {
  font-family: 'Material Icons', sans-serif !important;
}

.slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  padding: 1rem 0;

  list-style-type: none;

  li {
    margin: 0 0.25rem;
    background-color: #EEE2DA;
    border: none;
    border-radius: 100%;
  }

  button {
    display: block;
    width: 1rem;
    height: 1rem;
    padding: 0;

    border: none;
    border-radius: 100%;

    text-indent: -9999px;
  }

  li.slick-active button {
    background-color: #E55700;
  }

}
